//Dùng riêng
.section-share {
    border-bottom: 3px solid #efeef5;

    &.section-medical-facility {
        // background-color: #f5f5f5;
    }

    &.section-handbook {
        // background-color: #f5f5f5;
    }

    &.section-about {
        background-image: url("../../assets/background/140311-background5.png");
    }

    &.section-doctor {
        background-image: url("../../assets/background/140311-background5.png");
    }



    .section-body {
        // border: 1px solid black;
        margin-bottom: 20px;
        margin-right : 5px;

        .section-customize {
            margin : 5px;
            padding: 10px 5px;
            cursor : pointer;

            &:hover .description {
                color: #49bce2;
            }

            .bg-img {
                width        : 100%;
                height       : 150px;
                margin-bottom: 10px;

                &.specialty-img {
                    background-image   : url("../../assets/images/specialty/112457-co-xuong-khop.jpg");
                    background-position: center center;
                    background-repeat  : no-repeat;
                    background-size    : cover;
                    background-color   : #eee;
                }

                &.medical-facility-img {
                    background-image   : url("../../assets/images/medical-facility/083122lo-go-viet-duc.jpg");
                    background-position: center center;
                    background-repeat  : no-repeat;
                    background-size    : cover;
                    background-color   : #eee;
                }

                &.outstanding-doctor-img {
                    // background-image: url("../../assets/images/out-standing-doctor/105401-bsckii-tran-minh-khuyen.jpg");
                    background-position: center center;
                    background-repeat  : no-repeat;
                    background-size    : cover;
                    background-color   : #eee;
                    width              : 170px;
                    height             : 170px;
                    margin             : 0 auto;
                    border-radius      : 50%;
                }

                &.handbook-img {
                    background-image   : url("../../assets/images/handbook/142850-bien-chung-da.jpg");
                    background-position: center center;
                    background-repeat  : no-repeat;
                    background-size    : cover;
                    background-color   : #eee;
                }
            }
        }
    }
}

.section-doctor {
    .section-customize {
        cursor: pointer;

        .container-content {
            // border : 1px solid #eee;
            height : 245px;
            padding: 10px 5px;
        }
    }
}

.section-about-container {
    padding: 45px 0;

    .section-about-header {
        margin-bottom: 20px;

        h2 {
            font-size  : 24px;
            font-weight: bold;
        }
    }

    .section-about-content {
        display  : flex;
        flex-wrap: wrap;

        .content-left {
            width: 60%;
        }

        .content-right {
            width     : 40%;
            text-align: center;
            margin-top: 10px;

            ul {
                list-style: none;

                li {
                    display      : inline-block;
                    height       : 50px;
                    min-width    : 50px;
                    background   : #fff;
                    border-radius: 5px;

                    .truyenthong-img {
                        background-repeat  : no-repeat;
                        background-position: center;
                        display            : inline-block;
                        border-radius      : 5px;
                    }

                    .suckhoedoisong-img {
                        background-image: url("../../assets/images/truyenthong/suckhoedoisong.png");
                        width           : 162px;
                        height          : 50px;
                        background-size : 142px 30px;
                    }

                    .vnexpress-img {
                        background-image : url("../../assets/images/truyenthong/vnexpress.png");
                        background-repeat: no-repeat;
                        width            : 183px;
                        height           : 50px;
                        background-size  : 163px 30px;
                    }
                }
            }
        }
    }
}

//Dùng chung
.section-share {
    .section-container {
        padding       : 20px 0 30px 0;
        margin        : 0 100px;
        display       : flex;
        flex-direction: column;

        .section-header {
            // border: 1px solid green;
            height       : 60px;
            margin-bottom: 20px;
            padding      : 15px;
            position     : relative;

            .title-section {
                font-size  : 22px;
                font-weight: 600;
            }

            .btn-section {
                position        : absolute;
                top             : 0;
                right           : 0;
                padding         : 10px 15px;
                border          : none;
                outline         : none;
                background-color: #ebebeb;
                text-transform  : uppercase;

                &:hover {
                    color     : white;
                    background: #f7d800;
                }
            }
        }
    }
}

//reset slick-slider css
.slick-prev {
    left         : 0 !important;
    z-index      : 99;
    border-radius: 5px;
    box-shadow   : rgb(201, 236, 240) 2px 2px 5px;
    border-color : rgb(181, 231, 237) !important;

    &:hover {
        opacity: 1 !important;
    }
}

.slick-prev::before {
    font-family: "" !important;
    font-size  : 0;
}

.slick-next {
    right        : 0 !important;
    border-radius: 5px;
    box-shadow   : rgb(201, 236, 240) 2px 2px 5px;
    border-color : rgb(181, 231, 237) !important;

    &:hover {
        opacity: 1 !important;
    }
}

.slick-next::before {
    font-family: "" !important;
    font-size  : 5px;
}

//Footer
footer {
    .home-footer {
        background: #efefef;
        padding   : 30px 0;

        .footer-logo {
            max-width    : 200px;
            border-radius: 5px;
        }

        .footer-company {
            margin   : 15px 0;
            font-size: 1.2rem;

            h2 {
                font-size  : 1.2rem;
                font-weight: bold;
            }
        }

        .footer-address {
            padding  : 5px 0;
            font-size: 1.2rem;

            span {
                color: #49bce2;
            }
        }
    }

    .home-footer2 {
        background: #64b9e5;
        color     : #fff;
        padding   : 10px;
        min-height: 58px;
    }
}